h1{
    display: inline-block;
    width: 100px;
    color:white;

}
.word{
    padding-top: 20px;
    padding-bottom: 10px;
}
#recordings{
    width: 400px;
    height: 200px;
    margin: 0 auto;
    overflow-y: auto;
    border: 4px solid black;
    color:black;
}
